// IMPORT
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Shadows+Into+Light&display=swap");

// VARIABLES
$colors: (
  primary: #a4cc2d,
  secondary: #7b9922,
  tiercary: #434d28,
  black: #201b01,
  white: #f1f5bf,
  font: #3b3103,
  background: #bbd56f,
  gameground: #6e5a00,
  apple: #e6241c,
  worm: #678a00,
);

$spacing: 3rem;

// FUNCTIONS
@function colors($name) {
  @return map-get($colors, $name);
}

// RULES
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: $spacing * 2 $spacing * 8;
  color: colors("font");
  background-color: colors("background");
  font-family: "Shadows Into Light", cursive;
}

.header {
  margin-bottom: $spacing;
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  line-height: 0.3;

  &__title {
    color: colors("tiercary");
    font-size: 12rem;

    #red {
      color: colors("apple");
    }

    #green {
      color: colors("worm");
    }
  }

  &__sub-title {
    font-size: $spacing;
    color: colors("secondary");
    line-height: 1.5;
  }
}

.main {
  position: relative;

  &__warper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__button {
    position: absolute;
    position: absolute;
    padding: $spacing $spacing * 2;
    background-color: colors("secondary");
    color: colors("tiercary");
    border: none;
    border-radius: 10px;
    font-size: 3.5rem;
    font-family: "Shadows Into Light", cursive;
    font-weight: bolder;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
    transition: font-size 0.3s ease-out, color 0.3s ease-out;

    &:hover {
      font-size: 4.5rem;
      color: colors("primary");
    }

    &:active {
      color: colors("apple");
    }

    &--hide {
      visibility: hidden;
    }
  }
}

.social {
  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: colors("tiercary");
    list-style: none;
    font-size: 3rem;
  }

  &__item {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors("secondary");
    border-radius: 0 0 10px 10px;
    transition: height 0.3s ease-out, color 0.3s ease-out;

    & + & {
      margin-left: $spacing;
    }

    &:hover {
      height: 7rem;
      color: colors("primary");
    }

    &:active {
      color: colors("apple");
    }
  }
}

#game-zone {
  background-color: colors("gameground");
}
